.card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 350px;
    height: 280px;
    background: #fff;
    margin: 20px 30px 0 0;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}

.card:hover{
    height: 300px;
    margin-top: 65px;
}

.card .image{
    position: absolute;
    top: 20px;
    width: 300px;
    height: 200px;
    background-color: #33d;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}

.card:hover .image{
     top: -70px;
     scale: 0.75;
     box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.card .image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .content{
    position: absolute;
    width: 100%;
    /*padding: 0 30px;*/
    text-align: center;
    top: 235px;
    height: 40px;
    overflow: hidden;
    transition: 0.5s;
     border: 2px solid red;
}

.card:hover .content{
    top: 120px;
    height: 100px;
}

.card .content h2{
    color: purple;
    font-size: 1.5em;
    font-weight: 900;
}

.card .content p{
    color: #333;
    font-size: 1.05em;
}

.card .content a{
    /*position: relative;*/
    top: 15px;
    display: inline-block;
    padding: 12px 25px;
    background-color: #33d;
    color: #ffff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 8px;
}

.card .card-footer {
    display: none;
}

.card:hover .card-footer {
    display: flex;
    position: relative;
    top: 240px;
    width: 330px;
    justify-content: space-between;
}

.card .duration {
    display: flex;
    align-items: center;
}

.card .duration vaadin-icon {
    font-size: 10px;
    margin: 0 5px 3px 0;
}