/**************[ DETAILS PAGE ]**************/

.recipe-details {
    display: flex;
    align-items: center;
    margin: 50px 100px;
}

.recipe-details > div {
    width: 100%;
}

.recipe-details h3 {
    margin-top: 40px;
}

.details-layout {
    background: #f7f7f7;
    width: calc(100% + 32px);
    margin: 25px 0 0 -16px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: 13px;
    text-align: center;
    line-height: normal;
}

.details-layout li {
    width: 50%;
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

.details-layout li span {
    margin-bottom: 9px;
    color: #2d4558;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.details-layout li:after {
    content: ' ';
    background: #eaeaea;
    width: 1px;
    position: absolute;
    left: 0;
    top: 10px;
    bottom: 10px;
}

.recipe-image {
    width: 600px;
    height: 400px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Ingredient Section */

.ingredients-layout ul{
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.53;
}

.ingredients-layout li {
    font-weight: bold;
    margin-bottom: 15px;
}

.ingredients-layout li span {
    font-weight: normal;
    margin-bottom: 15px;
    margin-right: 5px;
}

/* Cooking Steps Section */

.cooking-steps-layout ol {
    counter-reset: steps;
}

/* Comments Section */

.comment-section {
    margin-top: 40px;
}

.comment-section-header {
    margin: 0 -50px 0 -40px;
}

.comment-section-body {
    border: 1px solid black;
    margin: 0 -50px 0 -50px;
}

