vaadin-integer-field {
    padding: 0 0 4px 0;
}

vaadin-button {
    margin: 0;
}

vaadin-text-area {
    padding: 0;
}

vaadin-text-field {
   padding: 0;
}

.ingredient-name,
.add-ingredient-btn {
    margin-top: 16px;
}
