@import "theme-editor.css";
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Playball&family=Poppins:wght@200;300;500;700;800;900&display=swap');

@import 'css/card.css';

vaadin-integer-field {
    padding: 0 0 4px 0;
}

vaadin-button {
    margin: 0;
}

vaadin-text-area,
vaadin-text-field,
vaadin-vertical-layout {
    padding: 0;
}

.dialog-field {
    width: 100%;
}

.ingredient-name,
.add-ingredient-btn {
    margin-top: 16px;
}

.ingredient-layout {
    width: 100%;
}




/*************************************/

.page-content {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.recipe-header {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.44;
    text-align: center;
}

.recipe-header:after {
    content: " ";
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvBdFxFrLXtivBPK8HdJj8f3dygZEUDMQHVbHrqr34zEncPM9F");
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 50px;
    margin: 7px auto;
    display: block;
}

.recipe-form {
    margin: 35px 200px 35px 200px;
    padding: 30px;
    width: 300px;
    /*border: 1px solid black;*/
    border-radius: 5px;
    box-shadow: 0 1px 5px 1px #eaeaea;
}