@import "theme-editor.css";
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Playball&family=Poppins:wght@200;300;500;700;800;900&display=swap');

@import 'css/card.css';
@import 'css/recipe-details-page.css';

ul {
    list-style-type: none;
}

vaadin-integer-field {
    padding: 0 0 4px 0;
}

vaadin-button {
    margin: 0;
}

vaadin-text-area,
vaadin-text-field,
vaadin-vertical-layout {
    padding: 0;
}

/*.dialog-field {
    width: 100%;
}*/

.ingredient-name,
.add-ingredient-btn {
    margin-top: 16px;
}

.ingredient-layout {
    width: 100%;
}

/******************[ ADD RECIPE PAGE ]*******************/

.page-content {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.recipe-header {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.44;
    text-align: center;
}

.recipe-header:after {
    content: " ";
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvBdFxFrLXtivBPK8HdJj8f3dygZEUDMQHVbHrqr34zEncPM9F");
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 50px;
    margin: 7px auto;
    display: block;
}

.recipe-form {
    margin: 35px 200px 35px 200px;
    padding: 30px;
    width: 1000px;
    /*border: 1px solid black;*/
    border-radius: 5px;
    box-shadow: 0 1px 5px 1px #eaeaea;
}

/*******[ CATEGORIES PAGE ]*******/

.category-wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}

.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid gray;
	margin: 30px;
	padding: 10px;
	cursor: pointer;
}

.category-card {
    position: relative;
    overflow: hidden;
    background: #fff;
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem .5rem;
    box-shadow: 0 1px 1px rgb(0,0,0,0.1),
        0 2px 2px rgb(0,0,0,0.1),
        0 4px 4px rgb(0,0,0,0.1),
        0 8px 8px rgb(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.category-card:hover {
    transform: scale(1.05);
}

.category-card:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #FF0038;
    clip-path:
    polygon(0 0, 100% 0, 100% 100%);
    transition:
    width 0.3s ease, height 0.3s ease;
    z-index: 0;
}

.category-card:hover:before {
    width: 200%;
    height: 200%;
    z-index: -1;
}

.category-card:hover h2 {
    color: #fff;
    transition: all 0.3s ease;
}

.category-card:hover p {
    color: #f1f1f1;
    transition: all 0.3s ease;
}

.arrow {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    margin-top: 5px;
    margin-right: 8px;
    z-index: 1;
    cursor: pointer;
}
